@font-face {
  font-family: 'Eczar';
  src: url('./fonts/Eczar-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'DMSans';
  src: url('./fonts/DMSans-Regular.ttf');
}

*{
  box-sizing: border-box;
}

body {
  color: black;
  margin: 0;
  font-family: DMSans, Verdana, sans-serif;
  background-color: rgb(221, 231, 231);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 20px 40px;
  gap: 60px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: url('./images/pexels-lumn-167699.jpg') rgb(172, 203, 203);
  background-size: cover;
  background-position-y: 20%;
}

.title {
  font-size: 60px;
  font-family: Eczar, Verdana, sans-serif;
  color: black;
  cursor: pointer;
}

.header-right {
  display: flex;
  gap: 20px;
  font-size: 26px;
}

.menu-button, .contact-button {
  cursor: pointer;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  font-size: 30px;
  text-align: center;
  padding: 20px 100px;
}

.home-image {
  width: 700px;
  border-radius: 8px;
  border-color: rgb(88, 88, 88);
  border-width: 1px;
  border-style: solid;
}

.about {
  max-width: 600px;
  min-width: 300px;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 20px 60px;
  gap: 20px;
}

.tea-title, .coffee-title {
  font-family: Eczar, Verdana, sans-serif;
  font-size: 36px;
  border-bottom: 6px ridge rgb(179, 208, 208);
}

.tea-name, .coffee-name {
  width: 140px;
  font-size: 20px;
  margin-left: 30px;
}

.tea-price, .coffee-price {
  margin-left: 30px;
  font-size: 20px;
  font-weight: 700;
}

.coffee-menu, .tea-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 13px 40px;
  padding: 20px;
}

.coffee-image, .tea-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 60px;
}

.phone, .address {
  display: flex;
  align-items: center;
  padding: 40px 140px;
  font-size: 26px;
  gap: 0 30px;
  width: 600px;
}

.phone img, .address img {
  width: 40px;
}